{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="shadow-lg p-3 mb-5 bg-white rounded container">
	    <form method="POST">
	        {% csrf_token %}
            <h6>座號</h6>
	        <textarea class="form-control" name="num" placeholder="num" rows="1">{{ user.profile.number }} </textarea><br>
            <h6>電話</h6>
	        <textarea class="form-control" name="phone"  placeholder="phone" rows="1">{{ user.profile.Phone }} </textarea><br>
            <h6>信箱</h6>
            <textarea class="form-control" name="email"  placeholder="phone" rows="1">{{ user.email }} </textarea><br>
            <h6> 由於技術問題，目前密碼 和 email暫時不能修改</h6>
            <h5> 也就是說 目前 email 這欄位沒有屁用 會趕快添加功能 </h5>
            <h6>如果有需要更改 請聯繫管理員</h6>
	        <input class="btn btn-outline-dark btn-block" type="submit">

	    </form>
	</div>
</div>
{% endblock %}

{% block title %}
    Edit
{% endblock %}