{% extends 'base.html' %}

{% block content %}


    <div class="shadow-lg p-3 mb-5 bg-white rounded container">
        <div style="text-align: center ;word-break: all;">

            <div class="container">
                <br>
                <h1>500 驗證失敗</h1>
                <br>
            </div>
            <div class="dropdown-divider"></div>
            <br>
            <h6 style="word-break: all">你需要登入才能存取你所想要的內容</h6>
            <h6 style="word-break: all">通常引起此錯誤的原因是你沒有登入 </h6>
            <h6 style="word-break: all">若你已經登入，請重新登入</h6>
            <h6 style="word-break: all">若你還是看到此頁面，請至Bug Tracker回報，或聯絡管理員</h6>
            <br>
            <br>
            <h6 style="word-break: all">VCS: <a style="word-break: break-all;"
                                                href="https://github.com/bloodnighttw/FileForm">https://github.com/bloodnighttw/FileForm</a>
            </h6>
            <h6 style="word-break: all">Bug Tracker: <a style="word-break: break-all;"
                                                        href="https://github.com/bloodnighttw/FileForm/issues">https://github.com/bloodnighttw/FileForm/issues</a>
            </h6>
            <br>
            <p style="word-break: all;white-space: pre-line;">
                Open source under Apache 2.0
                © all right reserved
            </p>


        </div>
    </div>


{% endblock %}

{% block title %}
    驗證失敗
{% endblock %}