{% extends 'base.html' %}

{% block content %}

    {% for messange in messages %}

    <div class="alert alert-success" role="alert">
        {{ messange }}
    </div>
    {% endfor %}


	{% for post in posts%}

		<a href="/post/{{ post.post_id }}" class="card border-dark mb-3 text-center">
		  <div class="card-header">{{ post.post_id}}</div>
		  <div class="card-body text-dark">
		    <h5 class="card-title">{{ post.title }}</h5>
		    <p class="card-text">{{ post.preview }}</p>
		  </div>
		</a>
	{% endfor %}
	

{% endblock%}

{% block title %}
    Home
{% endblock %}