
{% extends 'base.html' %}

{% block content %}



<div class="container">
	<div class="shadow-lg p-3 mb-5 bg-white rounded container">
		<div class="container">
			
			<div class="container" >
				{% if user.is_superuser %}

			        <a href="readed" class="btn btn-outline-primary" >readed</a>
			        <a href="edit" class="btn btn-outline-warning" >edit</a>
			        <a href="del" class="btn btn-outline-danger" >delete</a>
			        
			    {% endif %}

				{% autoescape off  %}
				<div style="white-space: pre-line;word-break: all;">
	            
	                {{ content }}
	            </div>
	            {% endautoescape %}

	            
			</div>

            
		</div>
	</div>
</div>


{% endblock %}