
{% extends 'base.html' %}

{% block content %}



<div class="container">
	<div class="shadow-lg p-3 mb-5 bg-white rounded container">
		<div class="container">
			<h1>{{ post.title }}</h1>

			{% if user.is_superuser %}

		        <a href="/{{ post.post_id }}/readed" class="btn btn-outline-primary" >readed</a>
		        <a href="/{{ post.post_id }}/readed" class="btn btn-outline-warning" >edit</a>
		        <a href="/{{ post.post_id }}/del" class="btn btn-outline-danger" >delete</a>
		        <br>
		        <br>
		    {% endif %}
			<div style="white-space: pre-line;">
            {% autoescape off %}
                {{ content }}
            {% endautoescape %}
            </div>
		</div>
	</div>
</div>


{% endblock %}