{% extends 'base.html' %}

{% block content %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center">已讀</th>
            </tr>
        </thead>
    </table>

    <table class="table thead-light">
        <thead >
        <tr>
            <th scope="col">座號</th>
            <th scope="col">姓名</th>
            <th scope="col">email</th>
            <th scope="col">電話號碼</th>
        </tr>
        </thead>
        <tbody>

        {% for readed in readeds %}

            <tr>
                <td > {{ readed.profile.number }}</td>
                <td>{{ readed.first_name }} {{ readed.last_name }}</td>
                <td>{{ readed.email }}</td>
                <td>{{ readed.profile.Phone }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center">已讀</th>
            </tr>
        </thead>
    </table>

    <br>
    <br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center">未讀</th>
            </tr>
        </thead>
    </table>

    <table class="table thead-light">
        <thead >
        <tr>
            <th scope="col">座號</th>
            <th scope="col">姓名</th>
            <th scope="col">email</th>
            <th scope="col">電話號碼</th>
        </tr>
        </thead>
        <tbody>

        {% for readed in non_readeds %}
            <tr>
                <th scope="row">{{ readed.profile.number }}</th>
                <td>{{ readed.first_name }} {{ readed.last_name }}</td>
                <td>{{ readed.email }}</td>
                <td>{{ readed.profile.Phone }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center">未讀</th>
            </tr>
        </thead>
    </table>

{% endblock %}

{% block title %}
    Readed
{% endblock %}